* {
  border: none;
	font-family: "GohuFont uni14 Nerd Font Mono";
	/*font-family: "Terminus \0028 TTF\0029";*/
	font-size: 14px;
	padding: 0px;
}

window#waybar{
	background-color: rgba(0, 0, 0, 0);
	color: #666666;
}

#workspaces button {
	color: #666666;
}

#workspaces button.active {
  border-left: 2px solid #333333;
  border-right: 2px solid #333333;
}

#battery, #cpu, #language, #memory, #temperature {
  /*background-color: yellow;*/
  /*padding: 0 0.5rem;*/
}


#battery.warning {
  color: yellow;
}

#battery.critical, #temperature.critical {
  color: yellow;
}
